<div class="panel-heading">
  <h4 class="panel-title">
    <button data-toggle="collapse" class="collapsed" data-parent="#contact-list-container" href="#collapse{{id}}">
    <div class="company">{{company}}</div>
      {{#if online}}
      <i class="fa fa-circle"></i>    
      {{else}}
      <i class="fa fa-circle-o"></i>
      {{/if}}
    {{name}} {{surname}} 
    </button>
  </h4>
</div>
<div id="collapse{{id}}" class="panel-collapse collapse">
  <div class="panel-body">
    <div class="icons">
      <a type="button" class="btn btn-default" id="start-conversation-btn"><i class="fa fa-comments"></i></a>
      <a href="#" class="btn btn-default"><i class="fa fa-info-circle"></i></a>
    </div>
    <ul>
      <li><i class="fa fa-phone"></i> {{phone}}</li>
      <li><i class="fa fa-envelope-o"></i> {{email}}</li>
    </ul>
  </div>
</div>